.section__container{
    display: flex;
    width: 100%;
    z-index: 1;
    
}

.section__container__text{
    background: var(--linear-orange);
    text-align: left;
    width: 50%;
    height: 100vh;
    padding: 23rem 8rem;

}

.section__container__text h1{
    color: var(--white);
    font-weight: 500;
    font-size: 4.8rem;
    margin-bottom: 5rem;
}

.section__button{
    background-color: var(--white);
    font-size: 1.6rem;
    padding: 1em 2em;
    color: var(--orange);
    font-weight: 400;
}

.section__button:hover{
    background-color: var(--blue);
    transition: all 0.4s;
    color: var(--white);
}

.section__image{
    height: 100vh;
    width: 50%;
    overflow-y: hidden;
}

.section__image img{
    width: 100%;
    
}

