.on{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.on__title{
    background: linear-gradient(211.13deg, #003070 12.54%, rgba(0, 48, 112, 0.62) 91.76%);
    background-clip: text;
    border-bottom: 4px  solid var(--orange);
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 8em;
    margin-top: 11rem;
    margin-bottom: 6rem;
}

.on__text__one{
    color: var(--blue);
    font-size: 2em;
    width: 75%;
    margin-bottom: 2rem;
}

@media (max-width:780px){
    .on__title{
        font-size: 2.4rem;
        margin-top: 6rem;
        margin-bottom: 4rem;
    }

    .on__text__one{
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
}
