.section__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11rem 14rem;
    width: 100%;
    gap: 7rem;
}

.title_beneficies{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    background: linear-gradient(211.13deg, #003070 12.54%, rgba(0, 48, 112, 0.62) 91.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 4px solid var(--orange);
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}