.erro__404{
    font-family: "Poppins";
}
 
.header{
    background: #ffffff;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.185);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}

.header img{
     height: 4rem;
     margin: auto;
}

.title{
    text-align: center;
    font-weight: 500;
    font-size: 4rem;
    margin-top: 6rem;

}

.error__content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text__left{
    width: 37%;
}

.text__left h2{
    font-weight: 500;
    font-size: 4rem;
    line-height: 42px;
}

.text__left p{
    font-weight: 275;
    font-size: 2rem;
    line-height: 30px;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
}

.text__left span{
    font-size: 2rem;
}

.home__link{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

@media (max-width:425px){
    .error__content img{
        width: 80%;
    }

    .title{
        font-size: 3rem;
    }
    .text__left{
        width: 80%;
        text-align: center;
    }

    .text__left h2{
        font-size: 2rem;
    }
    
    .text__left p{
        font-size: 1.8rem;
    }

    .home__link{
        width: 80%;
        margin: auto;
        margin-top: 5rem;
    }
    .icon{
        width: 2rem;
        height: 2rem;
    }

    .text__left span{
        font-size: 1.6rem;
    }


}